Source: ros-hydro-rmp-base
Section: misc
Priority: extra
Maintainer: Thomas de Candia <thomas.decandia@sri.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-nav-msgs, ros-hydro-rmp-msgs, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-tf
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-rmp-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-nav-msgs, ros-hydro-rmp-msgs, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-tf
Description: The rmp_base package provides a ros interface to control a Segway Robotics Mobility Platform. In addition, navigation and status data are also published such as odometry, imu, mottor and battery status, ...
